<html>
<head>
	<title>Noteboard</title>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/base/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="css/noteboard.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
	<script>
	function makeDraggable() {
		$(this).draggable({
			stop: function(event, ui) {
				$.ajax({
					url: "/rest/note/" + event.target.id,
					type: "POST",
					contentType: "application/json",
					dataType: "json",
					data: JSON.stringify({"note": {"yCoord": ui.position.top, "xCoord": ui.position.left}})
				});
			}
		});
	}
	function makeDeletable() {
		$(this).click(function(event) {
			$("#delete-confirm").dialog({
				resizable: false,
				height:200,
				modal: true,
				buttons: {
					"Delete": function() {
						var key = $(event.target).closest("div").attr('id');
						$.ajax({
							url: "/rest/note/" + key,
							type: "DELETE",
						});
						$(event.target).closest("div").remove();
						$(this).dialog( "close" );
					},
					Cancel: function() {
						$(this).dialog( "close" );
					}
				}
			});
		});
	}
	$(document).ready(function() {
		$(".note").each(makeDraggable);
		$(".deleteButton").each(makeDeletable);
		$( "#newNote-form" ).dialog({
			autoOpen: false,
			height: 275,
			width: 265,
			modal: true,
			buttons: {
				"Create note": function() {
					var text =  $("#newNote-text").val();
					var color = $("#newNote-color").val();
					var xCoord = Math.floor(window.innerWidth/2)-125;
					var yCoord = Math.floor(window.innerHeight/2)-50;
					var note = {"note": {"text":text, "color":color, "yCoord":yCoord, "xCoord":xCoord}};
					$.ajax({
						url: "/rest/note",
						type: "POST",
						contentType: "application/json",
						data: JSON.stringify(note)
					}).done(function(msg) {
						var templateNote = $("div#newNote-template");
						$newNote = templateNote.clone();
						$newNote.attr("id",msg);
						$newNote.css("background-color", color);
						$newNote.css("display", "");
						$newNote.offset({ top: yCoord, left: xCoord});
						$newNote.children("span.noteText").text(text);
						$newNote.children("img.deleteButton").each(makeDeletable);
						$newNote.each(makeDraggable);
						$("#content").append($newNote);
					});
					$( this ).dialog( "close" );
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				$(".newNote-field").each(function() {
					$(this).val("");
				});
			}
		});
		$("#newButton").click(function(event) {
			$( "#newNote-form" ).dialog( "open" );
		});
	});
	</script>
</head>
<body>
	<div id="header">
		<span id="userName">{{ user_name }}</span> <a id="logoutLink" href="{{ logout_url }}">Log out</a>
		<button id="newButton">+</button>
	</div>
	<div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>