{% extends "base.html" %}

{% block content %}
<div id="delete-confirm" title="Remove note?">
<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>This note will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

<div id="newNote-form" title="Create new note">
	<form>
			<label for="text">Text:</label><br />
			<textarea name="text" id="newNote-text" class="text ui-widget-content ui-corner-all newNote-field" ></textarea><br /><br />
			<label for="color">Color</label><br />
			<select name="color" id="newNote-color" class="text ui-widget-content ui-corner-all newNote-field">
			  <option value="red">Red</option>
			  <option value="orange">Orange</option>
			  <option value="yellow">Yellow</option>
			  <option value="green">Green</option>
			  <option value="white">White</option>
			</select>
 	</form>
</div>

<div id="newNote-template" class="note">
	<img src="/images/delete.png" alt="Delete note" class="deleteButton" id="testID" />
	<span class="noteText">Nothing</span>
</div>

{% for note in notes %}
	<div id="{{note.key()}}" class="note" style="top: {{note.yCoord}}px; left:{{note.xCoord}}px; background-color: {{note.color}};">
		<img src="/images/delete.png" alt="Delete note" class="deleteButton" />
		<span class="noteText">{{note.text}}</span>
	</div>
{% endfor %}
{% endblock %}